body {
  margin: 0px;
  padding: 0px;
}

#layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(17, 17, 17);
  gap: 60px;
  font-family: Poppins;
  color: grey;
}

#top-button {
  width: 80px;
  height: 80px;
  border: 1px;
  border-color: #e7e7e7;
  border-radius: 50px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#top-button:hover {
  opacity: 0.75;
  cursor: pointer;
}
#settingbutton {
  height: -0.3px;
  width: -0.3px;
}

#first-section {
  display: flex;
  gap: 20px;
}

#pic {
  margin: 10px;
}

#profilepic img {
  border-radius: 50%;
  width: 70%;
}

#icons {
  display: flex;
  justify-content: space-evenly;
}

.icon {
  width: 36px;
  height: 36px;
}

#second-section {
  width: 634px;
  display: flex;

  gap: 90px;
}

p {
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
}

#download-section {
  width: 618px;
  display: flex;
  justify-content: space-between;
}

#download-button {
  width: 290px;
  height: 80px;
  top: 24px;
  left: 42px;
  background-color: #fbd144;
  border: 1px;
  border-radius: 5px;

  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: -0.53px;
  text-align: center;
}

#contact-button {
  width: 290px;
  height: 80px;
  top: 24px;
  left: 42px;
  background-color: whitesmoke;
  border: 1px;
  border-radius: 5px;

  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: -0.53px;
  text-align: center;
}

#portfolio-section {
  width: 760px;
  height: 110px;
  top: 11px;
  background-color: whitesmoke;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#portfolio-button {
  width: 351px;
  height: 80px;
  background-color: rgb(151, 149, 149);
  border-radius: 10px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
}

#skills-button {
  width: 351px;
  height: 80px;
  font-weight: 500;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
}

#breakdown-section {
  width: 620px;
  gap: 5px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#breakdown-section a {
  width: 48%;
}

.project {
  border-radius: 12px;
}

.project img {
  border-radius: 12px;
  object-fit: cover;
}
#footer {
  font: Poppins;
  font-size: 22px;
  font-weight: 500;
  line-height: 33px;
}

@media (max-width: 620px) {
  #layout {
    width: 100%;
    overflow: hidden;
  }

  #top-button {
    width: 48px;
    height: 48px;
  }

  #first-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #profilepic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #profile-text h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    text-align: center;
  }

  #profile-text p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
  }

  #second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1px;
  }

  #download-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  #portfolio-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 20px;
    width: 100%;
    padding: 20px;
    background-color: rgb(238, 234, 234);
  }

  #skills-button {
    background-color: aqua;
  }

  #breakdown-section {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .project {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #footer p {
    font-size: 20px;
  }
}
